* {
    /* border: 1px solid rgb(73, 73, 73); */
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* colors */
:root {
    --primary-blue: rgb(119, 137, 255);
    --secondary-blue: rgb(133, 167, 236);
    --primary-red: rgb(255, 98, 73);
    --secondary-red: rgb(253, 173, 81);
    --primary-green: rgb(126, 253, 98);
    --secondary-green: rgb(143, 255, 158);
    --primary-white: 255, 255, 255;
    --primary-black: #000;
    /* --padding-text:; */
    --border-s: 5%;
    --border-m: 10%;
    --border-l: 25%;
    --font-400: 400 1em 'Roboto', "Helvetica",
        sans-serif;
    --font-700: 700 1em 'Roboto',
        "Helvetica",
        sans-serif;
    --font-900: 900 1em 'Roboto',
        "Helvetica",
        sans-serif;
}

/* colors end */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font
}

.container {
    width: 70%;
    max-width: 1200px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-blue), var(--secondary-red));
    background-image: url(/picures/body/pexels-photo-3448250.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(var(--primary-white), 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

header > a {
    height: 100%;
}

h1 {
    font: var(--font-900);
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.container_nav {
    width: 30%;
    height: 100%;
    /* flex-grow: 1; */
    align-items: stretch;
}

.container_ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.container_ul li {
    /* background-color: #fff; */
    padding: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--secondary-blue), var(--secondary-red));
    border-radius: var(--border-s);
}

/* Body */


.container_main {
    margin: 4rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.main_content {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 2; */
    box-shadow: 0px 10px 13px -7px #000000, 7px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.main_content--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    transition: all .75s ease-in-out;
}

.main_content--img {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(90%) opacity(90%);
    transition: all .75s ease-in-out;
    border-radius: 5%;
}

.main_content--text {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: rgba(var(--primary-white), 0.1);
    border-radius: 2px;
    transition: all .75s ease-in-out;
}

.main_content--link:hover .main_content--text {
    background-color: rgba(var(--primary-white), .9);
    border-radius: 2px;
    letter-spacing: .3em;
}

.main_content--link:hover,
.main_content--img:hover {
    filter: none;
    transform: scale(1.1);
}

.main_content--link:hover .main_content--img {
    transform: scale(1);
}

.manager {}

.photo {}

.calendar {}

.suggestion {}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5rem;
    box-shadow: 4px 4px 5px 2px var(--primary-green), -4px -4px 5px 2px var(--primary-green);
    background-image: url(/picures/footer/stock-photo-panoramic-shot-green-grass-meadow.jfif);
}

h3 {
    text-align: center;
}

.footer_info {
    display: flex;
    justify-content: space-around;
}

.footer_info li {
    background-color: rgb(var(--primary-white), .4);
    border-radius: 5px;
}