@import "style.css";

.player_input {
    /* width: 60%; */
    padding: 2em;
    border-radius: 5px;
    background-color: lightgreen;
    box-shadow: 4px 5px 5px rgb(104, 225, 93);
    height: fit-content;
    min-height: 25em;
}

.input--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input--header input {
    justify-self: flex-start;
    width: 12rem;
    padding: .5rem;
    border: 1px solid var(--secondary-blue);
    border-radius: 5px;
}



.input--header label {
    margin-right: 1rem;
}

.input--header-left {
    margin-right: auto;
}

.input--header-center {
    margin-right: auto;
    margin-left: auto;
}

.add_player {}

.player_table {}

.player_row {
    background-color: var(--);
}

.activated {
    background-color: green;
}

button.main-button {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    background-color: #33ffb4;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    cursor: pointer;
}

button.main-button:hover {
    scale: 1.05;
}

button:active {
    top: 0.2em;
}

button:disabled {
    background-color: #dfdfdf;
    color: #7d7d7d;
}

button:disabled:hover {
    cursor: not-allowed;
    scale: 1;
}

button:disabled:active {
    top: 0;
}

label {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

input[placeholder] {
    font-family: 'Roboto', sans-serif;
}

.delete-button {
    border: none;
    padding: .5rem .5rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: rgba(255, 255, 255, 0.275);
}

.player-row {
    display: flex;
    align-items: center;
}

.delete-button {
    margin-left: auto;
}