@import "style.css";

.player_input {
    width: 60%;
    padding: 2em;
    border-radius: 5px;
    background-color: lightgreen;
    box-shadow: 4px 5px 5px rgb(104, 225, 93);
}

.input--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input--header input {
    justify-self: flex-start;
    width: 12rem;
    padding: .5rem;
    border: 1px solid var(--secondary-blue);
    border-radius: 5px;
}



.input--header label {
    margin-right: 1rem;
}

.input--header-left {
    margin-right: auto;
}

.input--header-center {
    margin-right: auto;
    margin-left: auto;
}

.add_player {}

.player_table {}

.player_row {
    background-color: var(--);
}

.activated {
    background-color: green;
}