* {
    /* border: 1px solid rgb(73, 73, 73); */
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* colors */
:root {
    --primary-blue: rgb(119, 137, 255);
    --secondary-blue: rgb(133, 167, 236);
    --primary-red: rgb(255, 98, 73);
    --secondary-red: rgb(253, 173, 81);
    --primary-green: rgb(126, 253, 98);
    --secondary-green: rgb(143, 255, 158);
    --primary-white: 255, 255, 255;
    --primary-black: #000;
    /* --padding-text:; */
    --border-s: 5px;
    --border-m: 10px;
    --border-l: 25px;
    --font-400: 400 1em 'Roboto', "Helvetica",
        sans-serif;
    --font-700: 700 1em 'Roboto',
        "Helvetica",
        sans-serif;
    --font-900: 900 2em 'Roboto',
        "Helvetica",
        sans-serif;
}

/* colors end */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-blue), var(--secondary-red));
    background-image: url(/picures/body/pexels-photo-3448250.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 70%;
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(var(--primary-white), 0.1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: .25em;
}

.logo {
    filter: drop-shadow(0 -7px 1px var(--secondary-red));
}

.logo img {
    filter: none;
    transition: all .75s ease;
}

.logo:hover img {
    filter: drop-shadow(0 -7px 1px var(--primary-red));
}

header > a {
    height: 100%;
}

h1 {
    font: var(--font-900);
    text-transform: uppercase;
    letter-spacing: 1rem;
    filter: drop-shadow(3px -4px 1px var(--secondary-red));
    transition: all .5s ease;
}

h1:hover {
    color: var(--secondary-red);
    filter: drop-shadow(3px -2px 1px var(--primary-red));
}

.container_nav {
    width: 30%;
    height: 100%;
}

.container_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    gap: .5em;
    margin-right: .5em;
}

.container_ul li {
    padding: .5rem;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: linear-gradient(135deg, rgba(var(--primary-white), 0.2), var(--primary-green), rgba(var(--primary-white), 0.2));
    border-radius: var(--border-m);
    border: none;
    filter: drop-shadow(0px 0px 7px var(--primary-white));
    transition: all .3s ease;
}

.container_ul li:hover {
    scale: .9;
    background: linear-gradient(45deg, var(--primary-red), var(--secondary-red), var(--primary-red));
}

/* Body */
/*  */
/*  */
.container_main {
    margin: 4rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.main_content {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(0 0 15px var(--primary-black));
    border-radius: var(--border-s);
}

.main_content--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    transition: all .5s ease-in-out;
}

.main_content--img {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(90%) opacity(90%);
    transition: all .5s ease-in-out;
    border-radius: var(--border-s);
}

.main_content--text {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: rgba(var(--primary-white), 0.1);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

.main_content--link:hover .main_content--text {
    background-color: rgba(var(--primary-white), .9);
    border-radius: 2px;
    letter-spacing: .3em;
}

.main_content--link:hover,
.main_content--img:hover {
    filter: none;
    transform: scale(1.1);
}

.main_content--link:hover .main_content--img {
    transform: scale(1);
}

.manager {}

.photo {}

.calendar {}

.suggestion {}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5rem;
    background-image: url(/picures/footer/stock-photo-panoramic-shot-green-grass-meadow.jfif);
    filter: drop-shadow(0px 0px 7px var(--primary-green));
}

h3 {
    text-align: center;
}

.footer_info {
    display: flex;
    justify-content: space-around;
}

.footer_info li {
    background-color: rgb(var(--primary-white), .4);
    border-radius: 5px;
    transition: all .3s ease;
}

.footer_info li:hover {
    filter: drop-shadow(0px 0px 10px var(--secondary-red));
    background: linear-gradient(45deg, var(--primary-red), var(--secondary-red), var(--primary-red));
}